@import "core/styles/_assets.scss";

.banner {
	padding: 48px 0;
	@include medium {
		padding: 32px 0;
	}
	@include small {
		padding: 24px 0;
	}
}

.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;
	overflow: hidden;
	border-radius: 40px;
	@include medium {
		flex-direction: column;
		border-radius: 32px;
	}
	@include small {
		border-radius: 24px;
	}
}

.image,
.text {
	width: 50%;
	@include medium {
		width: 100%;
	}
}

.image {
	&El {
		display: block;
		width: 100%;
		height: 640px;
		object-position: center;
		object-fit: cover;
		@include medium {
			height: 360px;
		}
		@include small {
			height: 240px;
		}
	}
}

.text {
	background-color: color(primary);
	padding: 48px;
	position: relative;
	min-height: 640px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@include medium {
		padding: 32px;
		min-height: initial;
	}
	@include small {
		padding: 56px 24px 32px;
	}
}

.top {
	@include medium {
		margin-bottom: 32px;
	}
}

.subtitle {
	background-color: color(white);
	padding: 12px 24px;
	border-radius: 24px;
	display: inline-block;
	margin-bottom: 32px;
	@include medium {
		margin-bottom: 24px;
	}
	@include small {
		margin-bottom: 16px;
		padding: 8px 24px;
	}
	&Icon,
	&Text {
		display: inline-block;
		vertical-align: middle;
	}
	&Icon {
		width: 24px;
		height: 24px;
		@include small {
			width: 16px;
			height: 16px;
		}
	}
	&Text {
		margin-left: 8px;
		@include font-size(14);
		font-weight: fw(medium);
		margin-bottom: 0;
		@include small {
			@include font-size(12);
		}
	}
}

.title {
	@include font-size(64);
	font-weight: fw(semi-bold);
	margin-bottom: 24px;
	@include medium {
		@include font-size(48);
	}
	@include small {
		@include font-size(36);
		margin-bottom: 16px;
	}
}

.description {
	@include font-size(16);
	margin-bottom: 32px;
	color: color(grey, 1);
	@include medium {
		margin-bottom: 24px;
	}
	@include small {
		@include font-size(14);
		margin-bottom: 16px;
	}
}

.info {
	display: flex;
	align-items: center;
	gap: 16px;
	@include medium {
		gap: 12px;
	}
	@include small {
		gap: 8px;
	}
	&Item {
		display: flex;
		align-items: center;
		gap: 8px;
		background-color: rgba($color: #000000, $alpha: 0.1);
		padding: 12px 24px;
		border-radius: 24px;
		@include small {
			padding: 8px 18px;
			gap: 4px;
		}
	}
	&Icon {
		@include font-size(24);
		line-height: 1;
		@include small {
			@include font-size(18);
		}
	}
	&Text {
		@include font-size(16);
		font-weight: fw(medium);
		color: color(grey, 1);
		@include small {
			@include font-size(14);
		}
	}
}

.bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include x-small {
		align-items: baseline;
		flex-direction: column;
		gap: 16px;
		button {
			display: block;
			width: 100%;
		}
	}
}

.author {
	display: flex;
	align-items: center;
	gap: 16px;
	&Image {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		@include small {
			width: 40px;
			height: 40px;
		}
	}
	&Name {
		@include font-size(16);
		font-weight: fw(semi-bold);
		color: color(black);
		margin-bottom: 0;
		@include small {
			@include font-size(14);
		}
	}
	&Date {
		@include font-size(14);
		color: color(grey, 1);
		margin-bottom: 0;
		@include small {
			@include font-size(12);
		}
	}
}

.badge {
	position: absolute;
	top: 50px;
	right: -75px;
	@include medium {
		top: -60px;
		right: 50%;
		transform: translateX(50%);
	}
	@include small {
		top: -40px;
	}
	&Image {
		width: 150px;
		height: 150px;
		animation: spin 12s linear infinite;
		@include medium {
			width: 120px;
			height: 120px;
		}
		@include small {
			width: 80px;
			height: 80px;
		}
	}
	&Icon {
		position: absolute;
		width: 80px;
		height: 80px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		@include medium {
			width: 64px;
			height: 64px;
		}
		@include small {
			width: 40px;
			height: 40px;
		}
	}
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: color(overlay);
	z-index: 9;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
