@import "core/styles/_assets.scss";

.categories {
	padding: 64px 0;
	@include medium {
		padding: 48px 0;
	}
	@include small {
		padding: 32px 0;
	}
}

.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 64px;
	@include medium {
		margin-bottom: 48px;
	}
	@include small {
		margin-bottom: 32px;
	}
	button {
		@include small {
			min-width: initial;
			padding: 12px 12px;
			border-radius: 50%;
		}
		span {
			@include small {
				display: none;
			}
		}
		i {
			display: none;
			margin-right: 0;
			@include small {
				display: block;
			}
		}
	}
}

.title {
	@include font-size(48);
	font-weight: fw(semi-bold);
	margin-bottom: 0;
	@include medium {
		@include font-size(36);
	}
	@include small {
		@include font-size(24);
	}
}

.body {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 32px;

	@include medium {
		overflow-x: auto;
		overflow-y: hidden;
		scroll-behavior: smooth;
		gap: 24px;
	}
	@include small {
		gap: 16px;
	}
}

.item {
	flex: 16.6666666667%;
	@include medium {
		flex: 0 0 25%;
	}
	@include small {
		flex: 0 0 33.3333333333%;
	}
}
